a {
  color: #fff;
}

.dropdown {
  width: 100%;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.dropdown dt a {
  background-color: transparent;
  display: block;
  padding: 8px 20px 5px 10px;
  /*min-height: 25px;
  line-height: 24px;*/
  overflow: hidden;
  border: 0;
  width: 100%;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  color: #000;
  display: none;
  left: -14px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 10px;
  width: 110%;
  list-style: none;
  height: 160px;
  overflow: auto;
  text-align: left;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

button {
  background-color: #6BBE92;
  width: 100%;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
