body {
	color: #fff;
	padding: 50px;
	margin: 0 auto;
	background-image: url("../img/uni_logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.glyphicon{
	font-size: 10px;
}

.index > .panel:background{
	opacity: 0.5;
}

.index > .panel > .panel-body > .content {
	height: auto;
	margin: auto;
	margin-top: 10px;
	width: 90%;
}

.index > .panel > .panel-body > .content > .list {
	background-color: transparent;
	border: solid 2px;
	float: left;
	height: auto;
	/*min-height: 117px;*/
	margin: auto;
	width: 33.33%;
	padding: 2%;
}
.index > .panel > .panel-body > .content > .final {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	color: #000;
	width: 66.66%;
	padding: 2%;
	margin-top: 10px;
	float: left;
	min-height: 100px;
}
.index > .panel > .panel-body > .content > #final_button{
	width: 33.33%;
	height: 100px;
	border: none;
}
.index > .panel > .panel-body > .content > .final > #final_table{
	width: 100%;
}
.index > .panel > .panel-body > .content > .final > #final_table > tbody > tr {
	border-bottom: solid 2px;
	height: 20px;
	width: 100%;
}

.index > .panel > .panel-body > .content > .final > #final_table > tbody > tr > td {
	width: 50%;
}

.index > .panel > .panel-body > .content > .submit {
	float: left;
	width: 100%;
}
.index > .panel > .panel-body > .content > .submit > .submit_button {
	width: 100%;
}
